body {
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

button {
    padding: 10px 20px;
    background: #2db3ff;
    color: #000;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

.box {
    background: #222;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
}
