body {
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: #2db3ff;
    color: #000;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

.box {
    background: #222;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
}

#logBox {
    background: #000;
    color: #0f0;
    padding: 10px;
    height: 180px;
    overflow-y: auto;
    font-family: monospace;
    border-radius: 8px;
    font-size: 13px;
    text-align: left;
    border: 1px solid #0f0;
}
