body {
    margin: 0;
    background: #0F141E;
    color: white;
    font-family: 'Inter', sans-serif;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    background: #0F141E;
    border-bottom: 1px solid rgba(255,255,255,0.04);
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: #00E1FF;
}

.connect-btn {
    background: linear-gradient(90deg,#00E1FF,#0094FF);
    padding: 10px 16px;
    border-radius: 12px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
}

.swap-card {
    width: 380px;
    background: #1A1F2E;
    padding: 22px;
    border-radius: 22px;
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 0 40px rgba(0,225,255,0.08);
}

.card-title {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 18px;
}

.token-box {
    background: rgba(255,255,255,0.05);
    padding: 14px;
    border-radius: 18px;
    border: 1px solid rgba(255,255,255,0.1);
    margin-bottom: 12px;
}

.label {
    font-size: 13px;
    margin-bottom: 4px;
    opacity: 0.7;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amount-input {
    background: none;
    border: none;
    font-size: 22px;
    color: white;
    width: 100%;
    outline: none;
}

.token-select {
    background: #11202C;
    padding: 10px 16px;
    border-radius: 14px;
    border: 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
    font-weight: 600;
    color: #00E1FF;
}

.arrow {
    text-align: center;
    font-size: 26px;
    margin: 10px 0;
    color: #00E1FF;
}

.main-btn {
    width: 100%;
    background: linear-gradient(90deg,#00E1FF,#0094FF);
    padding: 16px;
    border-radius: 18px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 25px rgba(0,225,255,0.3);
}

.log-box {
    width: 380px;
    height: 180px;
    margin-top: 35px;
    padding: 14px;
    background: #0F141E;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 18px;
    overflow-y: auto;
    font-size: 12px;
    font-family: monospace;
}
